@layer components {
	.page-section.hero {
		display: grid;
		gap: 2.4rem;
		padding: 6rem 2.4rem;
		color: #f2f2f2;
		justify-items: center;
		text-align: center;
	}

	img.hero-media {
		width: min(72rem, 100%);
		height: auto;
		border-radius: 2.4rem;
	}

	video.hero-video {
		width: min(72rem, 100%);
		height: auto;
		border-radius: 2.4rem;
	}
}
